<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::public_header">
    <meta charset="UTF-8">
    <title>页面模板</title>
</head>
<body>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <br>
        <ol class="breadcrumb">
            <li>
                <a href="/index">首页</a>
            </li>
            <li>
                <a th:href="'/admin/student/tech/course/list/1'">课程管理</a>
            </li>
            <li class="active">
                <strong>作业管理</strong>
            </li>
        </ol>


    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">

            <div>
                <p></p>
            </div>

            <table class="table table-bordered table-hover ">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>分数</th>
                    <th>截止日期</th>
                    <th>作业文件（点击下载）</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <tr  th:each="bean,stat : ${pageInfo.list}">
                    <td th:text="${bean.name}"></td>
                    <td th:text="${bean.score}"></td>
                    <td th:text="${bean.dateLimit}"></td>
                    <td><a th:href="${bean.file.path}" th:attr="download=${bean.file.name}" th:text="${bean.file.name}"></a></td>
                    <td >
                        <a th:href="@{'/admin/tech/courseWork/doWork/' + ${bean.id}+'?courseId='+${courseId}}" class="btn btn-info btn-sm" >提交作业</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pull-right" th:include="common/pagination::pagination"
                 th:with="url='/admin/tech/courseWork/workList/',pages=${pageInfo.pageNum}, totalPages=${pageInfo.pages}, pageSize=${pageInfo.pageSize}, otherParam='&courseId='+${courseId}"> </div>

        </div>
    </div>
</div>

<input type="hidden" id="audit_hidden_message" th:value="${msg}">
<!--页面js-->
<div th:include="common/header::common_javascript">
</div>

</body>
</html>